include README.md
include LICENSE
include conanfile.txt
include conan_profile
include pyproject.toml

graft webp_build
graft tests

recursive-exclude */.pytest_cache *
recursive-exclude */__pycache__ *
